# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

IndentWidth: 4
UseTab: Never
ColumnLimit: 512
BitFieldColonSpacing: Both

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignTrailingComments: true
SpaceBeforeParens: true
BreakBeforeBraces: Attach
IndentCaseLabels: true
PointerAlignment: Right
ReferenceAlignment: Right